@import "~bootstrap/scss/bootstrap.scss";
body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  background-color: white;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  text-align: center;
  padding-top: 200px;
  position: fixed;
  font-size: 120px;
  font-family: Impact, Charcoal, sans-serif;
  display: inline-block;
}

div.symboltop {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 100px;
}

div.symbolbottom {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 100px;
}

div.number {
  margin: auto;
}
.card.spade.symboltop {
  content: "\2660";
}
